body {
    margin: 0px;
    background-color: #EDEDED;
    font-family: monospace;
}

li {
    list-style-type: none;
}

h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
    margin-top: 2vh;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}