.generalSettings {
    width: 100%;
}

.generalSettings span {
    font-size: 16px;
}

.generalSettings .formField {
    display: flex;
    flex-direction: column;
}

.generalSettings .formField label {
    margin-bottom: 0px;
}

.generalSettings .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -7.5px;
}

.generalSettings .formField:not(:last-child) {
    margin-bottom: 2vh;
}