.sideList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 0px;
}

.sideList .container {
    margin-bottom: 0px !important;
}

.sideList .other {
    padding: 2.5vh 2.5vw;
    width: 41%;
}

.typeTestButton {
    margin-top: 1vh;
}

.typeTestButton a {
    display: block;
    color: #343434;
    background-color: #00CE00;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 15.7px 1.5rem;
    cursor: pointer;
    float: right;
    border-radius: 15px;
}

.typeTestButton a:hover:not(.active) {
    background-color: #008B00;
}