.settingsList li {
    display: inline;
}

.rowLinks {
    margin-top: 2vh;
    height: 40px;
    overflow: hidden;
}

.settingsList {
    padding-inline-start: 0px;
    margin: 0px;
    text-align: center;
}

.settingsList a {
    display: inline-block;
    color: #343434;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 1vw;
    cursor: pointer;
}

.settingsList a:hover:not(.active) {
    color: #EDEDED;
}